
       #map {
        height:100%;
        width:50%;
        margin-left:25%;
      }
      
      
      html,
      body {
        height: 85%;
        margin: 0;
        padding: 0;
        /* background-color:#bdd1cfbd; */
        
      }
      body {
        background-image : url("https://cdn1.vectorstock.com/i/1000x1000/03/40/green-heart-pattern-seamless-vector-14850340.jpg");
        /* background-repeat: no-repeat;
        background-size: cover; */
      }
     
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      
      #infowindow-content .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }
      
      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }
      
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
      
      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
      
      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      
      #pac-input:focus {
        border-color: #4d90fe;
      }
      
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      
      #target {
        width: 345px;
      }

      h1,.page-header {
         text-align: center;
         border:none;
      }

      h1{
        color:#3f9f22;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
      }

      .finderNav a {
       /* background-color: #5b90976e;
       border:3px solid #4d91fe9a;
       color:#28790d;
       font-weight: bolder;
       font-size:18px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
       background-color:rgba(169, 252, 248, 0.753);
       border: 2px solid #3db0a671;
       color: #3f9522;
     
       text-decoration: none;
       font-size: 1.4em;
       outline: 0;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }

      #logoI{
        height:50px;
        
      }