body {
  padding-top: 80px;
  background-image : url("https://cdn3.vectorstock.com/i/1000x1000/70/12/seamless-pattern-background-with-green-hearts-vector-20607012.jpg");
  /* background-repeat: no-repeat;
  background-size: cover;*/
  background-repeat: no-repeat; 
}

.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}
button.sold-out {
  border-color:#3f9f2288;
  transform: scale(2) rotate(-25deg); 
  color: #3f9f2288;
}